<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact Tomoyuki about the Micropost posting App with Rails7 at the 
  <a href="https://github.com/tomoyuki65/rt-c2207" target="_blank" rel="noopener">
    Tomoyuki's GitHub.
  </a>
</p>