<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get the details of this app from
  <a href="https://github.com/tomoyuki65/rt-c2207" target="_blank" rel="noopener">
    Tomoyuki's GitHub.
  </a>
</p>
