<% provide(:title, "Home") %>
<h1>Rails 7 Micropost posting App</h1>
<p>
  This is the home page
  for posting microposts made by 
  <a href="https://github.com/tomoyuki65/rt-c2207">Tomoyuki</a>.
</p>
