<footer class="footer">
  <small>
    Micropost App with Rails7 by 
    <a href="https://github.com/tomoyuki65/rt-c2207">Tomoyuki</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>