<header class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "RT-C2207 App", root_path, id: "logo" %>
    <nav>
      <ul class="navbar navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>